body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.subunit.SCT { fill: rgb(238, 238, 238); }
.subunit.WLS { fill: rgb(238, 238, 238); }
.subunit.NIR { fill: rgb(238, 238, 238); }
.subunit.ENG { fill: rgb(238, 238, 238); }
.subunit.IRL { fill: rgb(238, 238, 238); }

.subunit-boundary {
  fill: none;
  stroke: #777;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}

.subunit-boundary.IRL {
  stroke: #aaa;
}

.subunit-label {
  fill: #777;
  fill-opacity: .5;
  font-size: 20px;
  font-weight: 300;
  text-anchor: middle;
}