extends layout

block content
	script(src="https://code.jquery.com/jquery-2.2.0.min.js")
	script(src="https://d3js.org/d3.v3.min.js",charset="utf-8")
	script(src="https://d3js.org/topojson.v1.min.js")
	script(src="/javascripts/d3script.js")